mixin link(href, name)
	a(href=href)&attributes(attributes)= name

header.navbar
	h1.logo
		a(href="/") Images Gallery
	nav.nav
		ul.nav-items
			li.nav-item
				+link('/allimages', 'All images')(class="nav-link")
			li.nav-item
				+link('/about', 'About')(class="nav-link")