extends layout.pug

block content
    if error 
        p.error= error
    if success 
        p.success Updated successfully
    #detailsHead 
        h2#title.details
        div 
            button#editBtn     
                i.far.fa-edit
    div#detailsMain
        img#image.details
        div#detailsDescription
            span#spanTime 
            h3#descHeader Description
            p#description.details
        p#description.details
    #editScreen 
        button#closeEditScreen
            i.fas.fa-times
        #editFormContainer 
            #editForm 
                h1.editScreenHeader Update
                form#formcreate.update(method="POST" action="/allimages/:id" enctype="multipart/form-data")
                    label.label Title
                    input(class="input image-title" id="editTitle" name="title")
                    label.label Image
                        span.labelInfo  (can be empty)
                    input(type="file" name="image" class="input image-image" accept="image/*")
                    label.label Description
                    textarea(class="input image-desc" id="editDesctiption" name="description" rows="7")
                    button.update-note-btn#btnUpdate Update   
    script(src="/scripts/details.js") 