extends layout.pug

block content
    .home.main
        .info 
            p.comments This is a simple image gallery app <br /> with a timeline
            a#btnCreate(href="/create")
                button.create Create
        img.mainimg(src="/images/main.png", alt="")
    p.moduleinfo This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service 